@import url(//db.onlinewebfonts.com/c/ae4d61677409fb05a4ab1438837bcf69?family=ProximaNovaT-Thin);
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Josefin+Sans:wght@100&family=Sacramento&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Kenia&family=Londrina+Shadow&family=Pacifico&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@media(max-width: 768px){
  body{
    margin-top: 0px;
   }
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
