// .container{
//   width: 50%;
//     text-align: center;
//     background-color: #717ae6;
//     padding-top: 20px;
//     align-items: center;
//     margin-left: 30%;
// }

// .input{
//   width: 40%;
//   text-align: center;
//   height: 30px;
//   font-size: 20px;
//   margin: 10px 0px;
// }

// .login{
//   height: 32px;
//   font-size: 16px;
//   margin-bottom: 20px;
//   width: 20%;
// }

// .back{
//   border: 1px solid black;
//   width: 50px;
// text-align: center;
// cursor: pointer;
// }







mat-card {
  max-width: 400px;
  // margin: 0% 10%;
  text-align: center;
}
.signin-content {
  padding: 18px 60px;
}
.full-width-input {
  width: 100%;
  height: 100%;
}


.hide {
  display: none;
}

.container1{
  display:grid;
  grid-template-columns: 60% 40%;
  text-align: center;
  height: 100%;
}

div.hr-or {
  margin-top: 40px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}
div.hr-or:before {
  content: 'OR';
  background-color: #fff;
}

.fs-Logo {
  width: 150px;
  height: 150px;
  fill:red;
}

.mat-icon {
  fill:red;
}
