<div class="middlescreen-container">
  <div class="start-quiz" *ngIf="start" (click)="start_quiz()">Start the Quiz...
    <i class="fas fa-arrow-right arrow"></i>
  </div>

<div *ngIf="!start && questions" class="container">
  <div class="score">Score: {{result}}</div>
  <div class="question">Q. {{questions.data[count].question}}</div>
  <div class="option" id="option1" (click)="save_answere('option1')">1. {{questions.data[count].option1}}</div>
  <div class="option" id="option2" (click)="save_answere('option2')">2. {{questions.data[count].option2}}</div>
  <div class="option" id="option3" (click)="save_answere('option3')">3. {{questions.data[count].option3}}</div>
  <div class="option" id="option4" (click)="save_answere('option4')">4. {{questions.data[count].option4}}</div>
</div>

<div *ngIf="retry">
  your score: {{result}}
  <button (click)="retry1()">Retry</button>
</div>
</div>

