.middlescreen-container{
  margin-left: 1.5%;
  width: 97%;
  margin-top: 100px;
  height: 100%;
  margin-bottom: 40px;
}

.start-quiz{
  text-align: center;
  margin-top: 70px;
  background-color: #ffa261;
  padding: 20px;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  cursor: pointer;
}

.arrow{
  float:right;
  zoom:2;
  color: #383838;
}

.container{
  margin-left: 30%;
    padding-top: 62px;
    width: 45%;
}

.question{
  margin: 15px 0px;
}

.option{
height: 45px;
border: 1px solid black;
vertical-align: middle;
padding-top: 10px;
padding-left: 10px;
margin-bottom: 5px;
}

.score{
  float: right;
}
