<div class="heading">
  Your Previous scores
</div>
<div class="no-results" *ngIf="data.length == 0">
  No results to show. <br> Start your Journey to be a master
</div>
  <div class="chart">
    <canvas baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>

  <div class="motivation">
    "Keep Motivated and hustle till its achieved, its the only key for success"
  </div>



<!-- <div class="middlescreen-container">
  <table>
    <tr>
      <th>User_id</th>
      <th>Date</th>
      <th>Score</th>
    </tr>
    <tr *ngFor="let data1 of data">
      <td>{{data1.user_id}}</td>
      <td>{{data1.date}}</td>
      <td>{{data1.score}}</td>
    </tr>
  </table>
</div> -->


