<div >
  <h1 id="coffee" class="coffee">Coffee with Creator</h1>
  <div class="connect">I am always excited to work on awesome projects, let's connect and discuss it over coffee!! </div>
  <div style="text-align: center;">
    <div style="margin-left:20%; text-align:left">
      Write a message for me below
    </div>
    <input type="text" name="" id="" style="width: 60%; height: 50px; background-color: #E5E5E5; border: none; border-radius: 10px;">
  </div>
  <div class="section">
    <div class="copyright">&#169; No copyright issues!! <br> You can copy anything you want :)</div>
    <div>
      <div class="naman">Naman Samaiya</div>
      <div class="made"> Made with <i class="fas fa-heart" style="color: rgb(248, 152, 168);"></i> in India</div>
    </div>
    <div class="connectme">
      <div style="font-family: 'Titillium Web', sans-serif; font-size: 20px">We can connect everywhere.</div>
      <div>
        <a href="https://www.linkedin.com/in/naman-samaiya/"><i class="fab fa-linkedin" style="margin: 5px;zoom: 1.7; color:#0073B1"></i></a>
        <a href="https://www.facebook.com/naman.samaiya.9"><i class="fab fa-facebook-square" style="margin: 5px;zoom: 1.7; color:#38529A"></i></a>
        <a href="https://wa.me/9179023117"><i class="fab fa-whatsapp" style="margin: 5px;zoom: 1.7; color: #24CC63"></i></a>
        <a href="mailto:naman.samaiya.9@gmail.com"><i class="fas fa-envelope" style="margin: 5px;zoom: 1.7; color:#0073B1"></i></a>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <img src="../../assets/pune-city-water-color-vector-260nw-490529998.jpg" class="img" height="120px" alt="" >
  </div>
</div>
