
.aboutme-container{
  margin-left: 1.5%;
  width: 97%;
  height: 100%;
  margin-bottom: 100px;
  z-index: 1;
}
.gif{
  text-align: center;
  background-color: antiquewhite;
  padding: 60px;
}

.naman{
    padding: 20px 10px 25px 10px;
    font-size: 70px;
    font-family: 'Sacramento', cursive;
    text-align: center;
    color: rgb(238, 175, 81);
}

.image{
  zoom: 0.25;
  border-radius: 400px;
}


 .heading{
  font-weight: bold;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
  color: #3a3939;
}

.intro{
  padding: 20px;
  font-size: 20px;
  color: #525151;
  width: 85%;
  margin-top: 20px;
  text-align: justify;
}
.down-arrow{
  color: #ADECA8;
  zoom: 2;
}

.about-me{
  display: grid;
  grid-template-columns: 3fr 5fr;
}

@media(max-width: 850px){
  .about-me{
    display: block;
    margin-top: 70px;
    width: 97%;
    text-align: center;
  }
  .intro{
    width: 97%;
  }

 }



 .carousel{
   margin-top: 50px;
   background-color: indianred;
   padding-bottom:50px;
   position: none;
   z-index: 1;
 }

 .carousel-control-next-icon{
  background-image: url('./../../assets/east_black_24dp.svg') !important
}
.carousel-control-prev-icon{
 background-image: url('./../../assets/west_black_24dp.svg')
}

.coffee-button{
  height: 50px;
  width: 180px;
  border: 1px solid #004D7E;
  background-color: transparent;
  text-transform: uppercase;
  color: #004D7E;
  border-radius: 100px;
}
.coffee-button:hover{
  color: #FAEBD7;
  background-color: #004D7E;
}

.data-name{
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  // padding: 5px;
  z-index: 0;
}

.data-data{
  font-size: 40px;
  color: #004D7E;
  font-family: 'Cuprum', sans-serif;
  z-index: 0;
}
