@import url(//db.onlinewebfonts.com/c/ae4d61677409fb05a4ab1438837bcf69?family=ProximaNovaT-Thin);

@font-face {font-family: "ProximaNovaT-Thin"; src: url("//db.onlinewebfonts.com/t/ae4d61677409fb05a4ab1438837bcf69.eot"); src: url("//db.onlinewebfonts.com/t/ae4d61677409fb05a4ab1438837bcf69.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ae4d61677409fb05a4ab1438837bcf69.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ae4d61677409fb05a4ab1438837bcf69.woff") format("woff"), url("//db.onlinewebfonts.com/t/ae4d61677409fb05a4ab1438837bcf69.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ae4d61677409fb05a4ab1438837bcf69.svg#ProximaNovaT-Thin") format("svg"); }


.aboutme-container{
  margin-left: 1.5%;
  width: 97%;
  // margin-top: 70px;
  height: 100%;
  margin-bottom: 100px;
}
.gif{
  text-align: center;
  background-color: antiquewhite;
}

.naman{
    padding: 20px 10px 25px 10px;
    font-size: 30px;
    font-family:cursive;
    text-align: center;
    color: rgb(238, 175, 81);
}

.coffee{
  margin-left: 47%;
  border-radius: 50px;
  border: 1px solid white;
  width: 127px;
  font-weight: 100;
  font-family: 'ProximaNovaT';
}

.image{
  zoom: 0.25;
  border-radius: 400px;
}


 .skills, .about{
  font-weight: bold;
margin-top: 50px;
  text-align: center;
  padding-left: 40px;
  font-size: 30px;
  font-family: monospace;
  color: #3a3939;
}

.intro{
  padding: 20px;
  font-size: 20px;
  color: #525151;
  width: 85%;
  margin-top: 20px;
  text-align: justify;
}
.down-arrow{
  color: #ADECA8;
  zoom: 2;
}

.about-me{
  display: grid;
  grid-template-columns: 3fr 5fr;
}

@media(max-width: 850px){
  .about-me{
    display: block;
    margin-top: 70px;
    width: 97%;
    text-align: center;
  }
.intro{
  width: 97%;
}

 }
