mat-card {
  max-width: 400px;
  margin: 0% 10%;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
  height: 100%;
}


.container1{
  display:grid;
  grid-template-columns: 60% 40%;
  text-align: center;
  height: 100%;
}

div.hr-or {
  margin-top: 40px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}
div.hr-or:before {
  content: 'OR';
  background-color: #fff;
}

.hide {
  display: none;
}

.fs-Logo {
  width: 150px;
  height: 150px;
  fill:red;
}

.mat-icon {
  fill:red;
}
