<nav class="navbar navbar-dark navbar-default header navbar-expand-lg" style="background-color: #004D7E; position: fixed; top: 0;">
  <div class="container-fluid px-0">
    <div class="row w-100">
      <div class="col-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col-10">
        <div class="collapse justify-content-end navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link fs" id="Home" routerLink="home" (click)="change_active('Home')" >Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link fs" id="About" routerLink="" (click)="change_active('About')" >About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs" id="Attempts" routerLink="myattempts" (click)="change_active('Attempts')" *ngIf="login_check">Attempts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs" id="Bookmarks" routerLink="" (click)="change_active('Bookmarks')" *ngIf="login_check">Bookmarks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs" id="Create" routerLink="create" (click)="change_active('Create')" *ngIf="login_check">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs" id="Profile" routerLink="" (click)="change_active('Profile')" *ngIf="login_check">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs" routerLink="#" (click)="logout()" *ngIf="login_check">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link auth signup fs" routerLink="login" (click)="isShown = false" *ngIf="!login_check">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link auth login fs" routerLink="signup" (click)="isShown = false" *ngIf="!login_check">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
